{% extends "base.html" %}
{%load static%}
{% block content %}
<section class='my-10 px-5'>
    <h1 class='text-2xl text-center font-semibold text-blue-700 pb-5'>Explore Valuable NFTs From Our Verified Creators</h1>
    <div class="grid lg:grid-cols-3 gap-10 justify-center">
        {% for nft in nfts  %}
    <a href="" class="flex flex-col p-5 items-center max-sm:text-center bg-white rounded-lg md:flex-row  hover:bg-purple-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-md" src={{nft.nft_file.url}} alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{nft.name}}</h5>
        <p>@{{nft.user.username}}</p>
        <p class="mb-3 font-semibold text-green-600 dark:text-gray-400 pt-3">{{nft.price}} ETH</p>
        <button class='max:mdself-center md:self-start px-5 py-2 bg-purple-600 text-white'>Place Bid</button>
    </div>
</a>
        {% endfor %}
        {% for nft in market  %}
    <a href="" class="flex flex-col p-5 items-center max-sm:text-center bg-white rounded-lg md:flex-row  hover:bg-purple-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-md" src={{nft.nft_image.url}} alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{nft.name}}</h5>
        <p>@{{nft.username}}</p>
        <p class="mb-3 font-semibold text-green-600 dark:text-gray-400 pt-3">{{nft.price}} ETH</p>
        <button class='max:mdself-center md:self-start px-5 py-2 bg-purple-600 text-white'>Place Bid</button>
    </div>
</a>
        {% endfor %}
    </div>
</section>
{% endblock content %}
