{% extends "base.html" %}
{%load static%}
{% block content %}
<section class='mt-36 px-5' x-data="{like:false}">
    <h1 class='text-2xl text-center font-semibold text-blue-700 pb-5'>Explore Valuable Arts From Our Verified Creators</h1>
    <div class="grid lg:grid-cols-4 gap-10 mx-auto justify-center">
        {% for nft in nfts  %}
    <div  class="flex flex-col p-5 items-center text-center max-sm:text-center bg-white rounded-lg  hover:scale-110 transition duration-150 ease-in  ">
    <img class="object-cover w-full rounded-t-lg h-48 md:rounded-md" src={{nft.image.url}} alt="">
    <div class="flex flex-col justify-between items-center p-4 leading-normal w-full">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{nft.name}}</h5>
        <p>@{{nft.user.username}}</p>
        <p class="mb-3 font-semibold text-green-600 dark:text-gray-400 pt-3">{{nft.price}} SOL</p>
        {% comment %} <p class='font-medium cursor-pointer'>Highlight <i class="fa-regular fa-heart"></i></p> {% endcomment %}
        <a href="{% url 'buy-nft' pk=nft.id %}" class='w-4/5'><button class='bg-blue-600 text-white p-3 w-full  rounded-md mt-5'>Collect</button></a>
    </div>
</div>
        {% endfor %}
        {% for nft in market  %}
    <div  class="flex flex-col p-5 items-center text-center max-sm:text-center bg-white rounded-lg  hover:scale-110 transition duration-150 ease-in  ">
    <img class="object-cover w-full rounded-t-lg h-48 md:rounded-md" src={{nft.nft_image.url}} alt="">
    <div class="flex flex-col justify-between items-center p-4 leading-normal w-full">
        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">{{nft.name}}</h5>
        <p>@{{nft.user.username}}</p>
        <p class="mb-3 font-semibold text-green-600 dark:text-gray-400 pt-3">{{nft.price}} SOL</p>
        {% comment %} <p class='font-medium cursor-pointer'>Highlight <i class="fa-regular fa-heart"></i></p> {% endcomment %}
        <a href="{% url 'buy-nft' pk=nft.id %}"><button class='bg-blue-600 text-white p-3 w-full  rounded-md mt-5'>Collect</button></a>
    </div>
</div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
