{% extends "base.html" %}
{%load static%}

{% block content %}
<section class='my-10 w-full px-2 lg:px-10'>
<h1 class='text-xl font-medium text-center mb-5'>Search Results</h1>
{% if users|length != 0 %}
{% for user in users %}
    <div class='md:w-2/5 w-11/12 bg-white rounded md p-5 mx-auto flex justify-between items-center'>
    <div class='flex items-center gap-2'>
        {% if user.profile.avatar %}
        <img src={{user.profile.avatar.url}} alt="" class='h-[80px] w-[80px] object-cover rounded-full'>
        {% else %}
        <img src="{% static 'images/A4.jpg'%}" alt="" class='h-[80px] w-[80px] object-cover rounded-full'>
        {% endif %}
     <p class='flex flex-col font-medium'>@ {{user.username}} {% if user.profile.can_withdraw == True %}
     <span class='text-[.7rem] text-green-500'>Verified</span>
     {%elif user.profile.can_own == True%}
         <span class='text-[.7rem] text-green-500'>Merchant</span>
     {% else %}
     <span class='text-[.7rem] text-blue-500'>Pro</span>
     {% endif %}</p>
    </div>
    <a href="{%url 'details' pk=user.id %}" class='bg-blue-500 text-white rounded-md p-2'>View Profile</a>
    </div>
{% endfor %}
{% else %}
    <div class='md:w-2/5 w-11/12 bg-white rounded md gap-3 p-5 mx-auto flex flex-col justify-center items-center'>
    <img src="{% static 'images/nt1.svg'%}" class='h-[200px] w-[200px] object-cover' alt="">
    <p class='text-xl font-semibold '>No User Found</p>
    </div>
{% endif %}
</section>
{% endblock content %}
