{%load static%}
<section class='w-screen relative h-[100vh] max-md:h-[70vh]' id="us">
<div class='bg-[rgb(0,0,0,.8)] absolute w-full h-full top-0 left-0 text-white flex items-center'>
<div class='w-4/5 lg:w-1/2 flex items-center flex-col mx-auto gap-3 '>
    <p class=' font-bold text-3xl max-md:text-md bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 inline-block text-transparent text-center bg-clip-text about'>WH0 WE ARE</p>
<p class='self-center text-center'>
Immerse yourself in our revolutionary ARTS platform, a dynamic space that fuses cutting-edge technology with artistic ingenuity. Discover an expansive collection of exclusive digital artworks and collectibles, each piece meticulously crafted to captivate your senses and spark your imagination. Our platform is a vibrant marketplace, where creators share their passion and vision through these one-of-a-kind creations, while collectors find unparalleled treasures that resonate with their tastes. Join a community that celebrates innovation, creativity, and ownership in the digital realm. Whether you're an artist or an enthusiast, our ARTS site invites you to explore, connect, and redefine the future of art and expression.</p>
<a href="{%url 'register'%}" class='text-center'><button class='px-5 py-2 text-white bg-purple-500 rounded-md'>Create Account</button></a>
</div>
</div>
<img src="{%static 'images/about.jpg'%}" class='w-screen object-cover h-full' alt="">
</section>
