{%load static%}
<section class='w-screen relative h-[100vh] max-md:h-[70vh]'>
<div class='bg-[rgb(0,0,0,.8)] absolute w-full h-full top-0 left-0 text-white flex items-center'>
<div class='w-4/5 lg:w-1/2 flex items-center flex-col mx-auto gap-3 '>
    <p class=' font-bold text-3xl max-md:text-md bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 inline-block text-transparent text-center bg-clip-text about'>WH0 WE ARE</p>
<p class='self-center text-center'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis accusamus quisquam nesciunt, totam quo tenetur praesentium, similique ipsa excepturi eaque magni minima et repellendus. Deserunt esse laboriosam quibusdam hic aspernatur porro commodi eveniet nulla voluptate, corrupti facere nihil possimus! Consequuntur aut, necessitatibus est quas voluptas odio sint architecto eos.</p>
<button class='px-5 py-2 text-white bg-purple-500 rounded-md'>Connect Wallet</button>
</div>
</div>
<img src="{%static 'images/about.jpg'%}" class='w-screen object-cover h-full' alt="">
</section>
