{%load static%}

<section class='bg-white w-screen  h-[40vh] flex flex-col justify-center'>
<h1 class='text-3xl text-center font-bold text-blue-700'>Connect With Us</h1>
<div class='w-3/5 text-center mx-auto pt-4'>
<p> Stay connected with the pulse of our NFT community. Join us on social media, newsletters, and forums for the latest updates, discussions, and exclusive insights. Let's connect and inspire!</p>
<div class='text-blue-500 text-[2rem] flex items-center gap-5 justify-center pt-4'>
  <a href="https://instagram.com/nixyartscom?igshid=NzZlODBkYWE4Ng==" target='blank' class="hover:underline "><i class="fa-brands fa-instagram"></i></a>
<a href="mailto: nixyarts@rare-finds.pro"><i class="fa-solid fa-envelope"></i></a>
</div>
</div>

</section>
