{%load static%}

<section class='bg-white w-screen  h-[40vh] flex flex-col justify-center'>
<h1 class='text-3xl text-center font-bold text-blue-700'>Connect With Us</h1>
<div class='w-3/5 text-center mx-auto pt-4'>
<p> chat gpt Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus numquam aut eveniet autem neque nihil ad asperiores officiis adipisci? Sint, sed! Aut quibusdam voluptatum illo amet pariatur exercitationem ipsam et!</p>
<div class='text-blue-500 text-[2rem] flex items-center gap-5 justify-center pt-4'>
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-github"></i>
<i class="fa-brands fa-discord"></i>
<i class="fa-solid fa-envelope"></i>
</div>
</div>

</section>
