<nav class='flex justify-between px-5 py-5 z-50  text-[.8rem] bg-white shadow-lg shadow-black text-blue-400  fixed top-0  w-full  items-center bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-50' x-data="{open:false}">
    <div class='text-white text-lg'>
      <p class='text-purple-400 font-semibold'>Rare Finds</p>
    </div>
    <div class='lg:block hidden'>
            <form action="{%url 'search'%}" method="get" class='relative text-black '>
  <input type="text" class=' w-full  bg-gray-200 border-0 rounded-md  placeholder:text-black max-md:placeholder:text-[.6rem] placeholder:text-[.7rem] ' name='search' placeholder='Search Creators'>
  <button class='absolute p-2 right-2 top-1 text-grey-400'>
    <i class="fa-solid fa-magnifying-glass" style=" font-size:20px;"></i>
  </button>
  </form>
    </div>

    <ul class='lg:flex gap-8 hidden  items-center'>

         <a href="{%url 'home'%}">Home</a>
  <a href="#us">About Us</a>
  <a href="#service">Services</a>
  <a href='{%url "market"%}'>Market</a>
  {% if request.user.is_authenticated %}

  {% else %}
    <a href='{%url "register"%}' class=''>Register</a>
  {% endif %}
  {% if request.user.is_authenticated %}
    <a href="{%url 'dashboard'%}"><button class='bg-black text-white py-3 px-16 rounded-md'>Dashboard</button></a>
  {% else %}
    <a href="{%url 'login'%}"><button class='bg-black text-white py-3 px-16 rounded-md'>Login</button></a>
  {% endif %}
    </ul>

{% comment %} mobile nav toggle {% endcomment %}

<div x-on:click="open=!open" class="lg:hidden">
  <i class="fa-solid fa-bars"></i>
</div>

<div class='fixed w-4/5 pt-10 top-0 left-0 h-screen opacity-95  lg:w-3/5 bg-black text-white lg:hidden' x-transition.duration.500ms x-show="open">

  <ul class=' flex-col gap-8 flex  items-center'>
            <div class=' '>
            <form action="{%url 'search'%}" method="get" class='relative text-black '>
  <input type="text" class=' w-full  bg-white border-0 rounded-md  placeholder:text-black max-md:placeholder:text-[.6rem] placeholder:text-[.7rem] ' name='search' placeholder='Search Creators'>
  <button class='absolute p-2 right-2 top-1 text-grey-400'>
    <i class="fa-solid fa-magnifying-glass" style=" font-size:20px;"></i>
  </button>
  </form>
    </div>
  <a href="{%url 'home'%}">Home</a>
  <a href="#us">About Us</a>
  <a href="#service">Services</a>
  <a href='{%url "market"%}'>Market</a>
  {% if request.user.is_authenticated %}

  {% else %}
    <a href='{%url "register"%}' class=''>Register</a>
  {% endif %}
  {% if request.user.is_authenticated %}
    <a href="{%url 'dashboard'%}"><button class='bg-blue-500 text-white py-3 px-16 rounded-md'>Dashboard</button></a>
  {% else %}
    <a href="{%url 'login'%}"><button class='bg-blue-500 text-white py-3 px-16 rounded-md'>Login</button></a>
  {% endif %}
    </ul>
</div>
</nav>
