{%load static%}

<section class='flex flex-col gap-10' id="service">
<h2 class='text-3xl font-bold self-center text-blue-700'>Our Services</h2>
<div class='grid grid-cols-1 gap-10 w-4/5 mx-auto lg:grid-cols-4'>
{% comment %} reason 1 {% endcomment %}
<div class='flex flex-col items-center text-center'>
<i class="fa-solid fa-user-clock fa-2xl" style="color: teal; padding-bottom:20px;"></i>
<p class='text-lg font-medium'>24 Hours Support</p>
<span class='m-0'>Round-the-clock assistance ensures immediate help for any inquiry or concern, enhancing your ARTS experience</span>
</div>
{% comment %} reason 2 {% endcomment %}
<div class='flex flex-col items-center text-center '>
<i class="fa-solid fa-lock fa-2xl" style="color: blue; padding-bottom: 20px;"></i>
<p class='text-lg font-medium'>Asset Security</p>
<span class='m-0'>Robust measures guarantee ARTS asset security, shielding your valuable digital collectibles with state-of-the-art protection 24/7.</span>
</div>
{% comment %} reason 1 {% endcomment %}
<div class='flex flex-col items-center text-center'>
<i class="fa-solid fa-user-plus fa-2xl" style="color: orange; padding-bottom: 20px;"></i>
<p class='text-lg font-medium'>Diverse Collections</p>
<span class='m-0'>Explore a myriad of ARTS collections, spanning art, music, gaming, and more, showcasing boundless creativity.</span>
</div>
{% comment %} reason 1 {% endcomment %}
<div class='flex flex-col items-center text-center'>
<i class="fa-solid fa-coins fa-2xl" style="color: #37abb3; padding-bottom:20px;"></i>
<p class='text-lg font-medium'>Fast Transactions</p>
<span class='m-0'>Enjoy swift ARTS transactions, enabled by our streamlined processes, ensuring seamless buying, selling, and trading experiences.</span>
</div>
</div>
</section>
